.profile__edit-button {
  margin-top: 36px;
  background-image: url(../../../images/profile-edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  background-color: #000000;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: 1px solid white;
  transition: linear .2s;
}

.profile__edit-button:hover {
  opacity: 60%;
}

@media (max-width: 1024px) {
  .profile__edit-button {
    margin-top: 30px;
  }
}

@media (max-width: 768px) {
  .profile__edit-button {
    grid-row-start: 2;
    grid-column-start: 2;
  }
}

@media (max-width: 600px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    padding: 0;
    margin-right: 38px;
    margin-top: 31px;
  }
}
