.profile__container {
  display: grid;
  grid-template-columns: .6fr 1.3fr 1fr;
  grid-template-rows: 1fr .8fr;
}

@media (max-width: 768px) {
  .profile__container {
    grid-template-columns: 80% 20%;
    grid-template-rows: 2fr 1fr .5fr;
    justify-items: center;
  }
}

@media (max-width: 600px) {
  .profile__container {
    margin-left: 17%;
  }
}
