.elements__item {
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  max-width: 282px;
  display: flex;
  position: relative;
  flex-direction: column;
}
