.popup__button {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 2px;
  width: 358px;
  min-height: 50px;
  padding: 0;
  margin-top: 18px;
  margin-bottom: 36px;
  align-self: center;
  border: none;
  cursor: pointer;
  transition: linear .3s;

}

.popup__button:hover {
  opacity: .8;
}

@media (max-width: 768px) {
  .popup__button {
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
}
