.elements__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@media (max-width: 768px) {
  .elements__list {
    margin-left: 2%;
    margin-right: 2%;
  }
}

@media (max-width: 604px) {
  .elements__list {
    justify-content: center;
  }
}